p{
    background-color: rgb(214, 38, 109);
}
a{
    background-color: rgb(66, 165, 245);
}
div{
    background-color: rgb(220, 20, 147);
}
span{
    background-color: rgb(44, 184, 244);
}
body{
    background-color: whitesmoke;
}